:root {
  --backgroundWhite: #f8f8ff;
  --secondaryBgWhite: #ededfa;
  --borderRadius: 15px;
  --borderColor: #c3c3c3;
}

html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--backgroundWhite);
}

#root {
  display: flex;
}

p {
  margin: 0;
}

/* COMPONENTS */
.input-styles,
.button-styles {
  font-size: inherit;
}
/* END COMPONENTS */

.app-root {
  display: flex;
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  margin: 1.5rem;

  display: flex;
  flex-direction: column;
}

/* main page */
.main-header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 15px auto;
}

.main-header > button:not(:last-of-type) {
  margin-right: 1rem;
}
/* end main page */

/* Drag and Drop context block */
.dnd-context-container {
  display: grid;
  grid-gap: 0.5rem;
}
/* end D&D context */

/* content-section */
.content-section {
  display: grid;
  grid-gap: 0.5rem;
  border: 1px solid black;
  border-radius: var(--borderRadius);
  background: skyblue;
  padding: 1rem;
}
/* end content-section */

/* content block */
.content-item {
  min-width: 25%;
  background: var(--secondaryBgWhite);
  display: grid;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  padding: 1rem;
}
.content-item:first-of-type {
  margin-top: 0;
}
.content-item:last-of-type {
  margin-bottom: 0;
}

.content-item > .content-title {
  margin-top: 0;
}

.content-item > .content-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* end content block */

@media (min-width: 850px) {
  html {
    font-size: 14px;
  }

  .page,
  .dnd-context-container {
    flex-direction: row;
  }
}
